cleanrl/videos

__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.class
.DS_Store
.vscode/
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
*.egg-info/
dist/
build/
*.log
*.sqlite3
*.db
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
coverage.xml
htmlcov/
.tox/
.nox/
.pyre/

cleanrl/runs
cleanrl/wandb
cleanrl/models

exam_prepare/temps/
